body{
	margin: 2%;
	padding: 2%;
}

.jumbotron{
	color: black;
	text-align: center;
	font-family: verdana;
}

#captcha div {
	border: 3%;
	border-radius: 4px;
	background-color: #eee;
	padding: 20px;
}

#gif {
	border: 3%;
	border-radius: 4px;
	background-color: #eee;
	padding: 20px;
}
